*{
    box-sizing:border-box;
}
/*body styles*/
body{
    background-image:
    linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),
     url('images/realestate.jpg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
}
/*heading-1 styles*/
 h1{
     color: wheat;
     font-size: 3rem;
     text-align:center;
 }
 /*about paragraphy styles*/
 #Aboutpara{
     color:white;
     padding: 10px;
 }
 /*about our services styles*/
 #ourservices{
     display:flex;
     flex-direction:row;
     position:relative;
     justify-content: space-evenly;
 }
 /*breaking each box at the width of 800px and small*/
 @media screen and (max-width: 800px) {
     #ourservices{
         flex-direction:column;
     }
 }
 .services{
     background-color:whitesmoke;
     position:relative;
     width:22rem;
     height:36.6rem;
     margin:auto;
     margin-bottom:1rem;
     border: 5px inset wheat;
     border-radius: 10px;
 }
 .servicesimage{
     width:100%;
     height:20rem;
 }
 .boxpara{
     text-align:center;
 }
 .btn{
     padding:15px 20px;
     background-color:wheat;
     color:black;
     margin:0;
     border:5px outset wheat;
     border-radius:10px;
 }
 h2{
     text-align:center;
     font-size:2rem;
     color:wheat;
 }
 /*footer style*/
 #footer{
     background-color:hsla(195, 53%, 79%, 0.7);
     padding:20px;
 }
 #footerboxes{
    position:relative;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
 }
 /*breaking each box at the browser width of 800px and lower*/
 @media screen and (max-width: 800px) {
    #footerboxes{
        flex-direction:column;
    }
}
 .box{
     position:relative;
     align-items: center;
 }
a:link{
    text-decoration:none;
    color:wheat;
}
#email{
    text-align:center;
    padding:20px;
    font-size:2rem;
}